<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-2">
            <form #questionform="ngForm" (ngSubmit)="onAskQuestion(questionform.value)">
                <div class="form-group">
                    <label for="title">Enter question title</label>
                    <input 
                    type="text"
                    id="title"
                    name="title"
                    class="form-control"
                    ngModel
                    required
                    #title="ngModel"
                    placeholder="Enter your question title here."
                    >
                    <span
                    *ngIf="title.invalid&&title.touched" class="text-danger help-block">
                    Title field is required
                    </span>
                </div>
                <div class="form-group">
                    <label for="question">Enter question</label>
                    <input 
                    type="text"
                    id="question"
                    name="question"
                    class="form-control"
                    ngModel
                    required
                    #question="ngModel"
                    placeholder="Enter your question here."
                    >
                    <span
                    *ngIf="question.invalid&&question.touched" class="text-danger help-block">
                    Question field is required
                    </span>
                </div>
                <button type="submit" [disabled]="questionform.invalid"
                class="btn btn-primary">submit</button>
            </form>
        </div>
    </div>
</div>