<div class="backdrop" (click)="onClose()"></div>
<div class="alert-box">
    <form #editQuestion="ngForm"
    (ngSubmit)="onEditQuestionSubmit(editQuestion)">
        <div class="form-group">
        <label for="">Enter title</label>
        <input type="text"
        #title="ngModel"
        [(ngModel)]="titleValue"
        class="form-control"
        name="title"
        required>
        <span 
        *ngIf="title.touched&&title.invalid" class="text-danger">
        Title is required
        </span>
        </div>
        <div class="form-group">
            <label for="">Enter Question</label>
            <input type="text"
            #question="ngModel"
            [(ngModel)]="questionValue"
            class="form-control"
            name="question"
            required
            >
            <span 
            *ngIf="title.touched&&title.invalid" class="text-danger">
            Title is required
            </span>
        </div>
        <button [disabled]="editQuestion.invalid" class="btn btn-success mt-1">
            Edit
        </button>
    </form>
    <div class="alert-box-actions">
      <button class="btn btn-primary" (click)="onClose()">Close</button>
    </div>
</div>